.root {
  flex-direction: row;
  display: flex;
  width: 100vw;
  background: none;
  position: relative;
  padding: 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 27px);
  width: calc(100% + 27px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 27px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    display: flex;
    padding: 32px 0px 32px 32px;
  }
}
.img {
  object-fit: cover;
  width: 61px;
  height: 125px;
  position: relative;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    width: 73px;
    height: 150px;
    flex-shrink: 0;
    display: none !important;
  }
}
.freeBox__zvqNn {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__zvqNn > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBox__zvqNn > :global(.__wab_flex-container) > *,
.freeBox__zvqNn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zvqNn > :global(.__wab_flex-container) > picture > img,
.freeBox__zvqNn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zvqNn {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    padding-right: 30px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zvqNn > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: flex-start;
    margin-top: calc(0px - 19px);
    height: calc(100% + 19px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zvqNn > :global(.__wab_flex-container) > *,
  .freeBox__zvqNn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zvqNn > :global(.__wab_flex-container) > picture > img,
  .freeBox__zvqNn
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 19px;
  }
}
.freeBox__sGlsk {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__sGlsk > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 1px);
  width: calc(100% + 1px);
}
.freeBox__sGlsk > :global(.__wab_flex-container) > *,
.freeBox__sGlsk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sGlsk > :global(.__wab_flex-container) > picture > img,
.freeBox__sGlsk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 1px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sGlsk {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sGlsk > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sGlsk > :global(.__wab_flex-container) > *,
  .freeBox__sGlsk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__sGlsk > :global(.__wab_flex-container) > picture > img,
  .freeBox__sGlsk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.link__ttwgT {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  left: auto;
  top: auto;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__ttwgT > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__ttwgT > :global(.__wab_flex-container) > *,
.link__ttwgT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__ttwgT > :global(.__wab_flex-container) > picture > img,
.link__ttwgT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__ttwgT {
    text-align: left;
    align-self: flex-start;
    left: auto;
    top: auto;
  }
}
.svg__raL4E {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__uetv2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px;
}
.text__uXwfp {
  font-weight: 400;
  color: #d8ecff;
  font-size: 18px;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__vN03 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__udf2B {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  left: auto;
  top: auto;
  color: #0070f3;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__udf2B > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__udf2B > :global(.__wab_flex-container) > *,
.link__udf2B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__udf2B > :global(.__wab_flex-container) > picture > img,
.link__udf2B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__udf2B {
    align-self: flex-start;
    left: auto;
    top: auto;
  }
}
.svg__o9Kv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__aMmYm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px;
}
.text__fyUWr {
  font-weight: 400;
  color: #d8ecff;
  font-size: 18px;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 147px;
  flex-shrink: 0;
}
.svg__cTo0Y {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__oUorc {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  left: auto;
  top: auto;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__oUorc > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__oUorc > :global(.__wab_flex-container) > *,
.link__oUorc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__oUorc > :global(.__wab_flex-container) > picture > img,
.link__oUorc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__oUorc {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    left: auto;
    top: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__oUorc > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__oUorc > :global(.__wab_flex-container) > *,
  .link__oUorc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link__oUorc > :global(.__wab_flex-container) > picture > img,
  .link__oUorc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.svg___6Wui {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__aL8S {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px;
}
.text__tuCpx {
  font-weight: 400;
  color: #d8ecff;
  font-size: 18px;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 170px;
  flex-shrink: 0;
}
.svg__ek0Yn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__a4T26 {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  height: auto;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__a4T26 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__a4T26 > :global(.__wab_flex-container) > *,
.link__a4T26 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__a4T26 > :global(.__wab_flex-container) > picture > img,
.link__a4T26
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__a4T26 {
    left: auto;
    top: auto;
  }
}
.svg__jclOc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__mv4Ij {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px;
}
.text___8Pdhj {
  font-weight: 400;
  color: #d8ecff;
  font-size: 18px;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 169px;
  flex-shrink: 0;
}
.svg__jikzY {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__yjkai {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  height: auto;
  left: auto;
  top: auto;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__yjkai > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__yjkai > :global(.__wab_flex-container) > *,
.link__yjkai > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__yjkai > :global(.__wab_flex-container) > picture > img,
.link__yjkai
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__yjkai {
    align-self: flex-start;
    left: auto;
    top: auto;
  }
}
.svg__pUJno {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__lLyCu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px;
}
.text__f04Px {
  font-weight: 400;
  color: #d8ecff;
  font-size: 18px;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 126px;
  flex-shrink: 0;
}
.svg__v7I2H {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link___11NjC {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  left: auto;
  top: auto;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link___11NjC > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___11NjC > :global(.__wab_flex-container) > *,
.link___11NjC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___11NjC > :global(.__wab_flex-container) > picture > img,
.link___11NjC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___11NjC {
    align-self: flex-start;
    left: auto;
    top: auto;
  }
}
.svg__fCStN {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__m3Q3O {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px;
}
.text__aCoFi {
  font-weight: 400;
  color: #d8ecff;
  font-size: 18px;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 0px;
  width: 87px;
  flex-shrink: 0;
}
.svg___1S1Y6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__lhd7G {
  flex-direction: row;
  background: #1e6fbbd9;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  left: auto;
  top: auto;
  width: 179px;
  color: #0070f3;
  flex-shrink: 0;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__lhd7G > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__lhd7G > :global(.__wab_flex-container) > *,
.link__lhd7G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__lhd7G > :global(.__wab_flex-container) > picture > img,
.link__lhd7G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__lhd7G {
    align-self: flex-start;
    left: auto;
    top: auto;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__lhd7G > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.svg__q72FX {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
  display: none;
}
.text {
  color: #ffffffd9;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  height: auto;
  width: auto;
}
.svg__x1Xsd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
  display: none;
}
